@tailwind base;
@tailwind components;
@tailwind utilities;



.edit-box-shadow{
    box-shadow: #4a4949 0px 0px 2px 1px inset;}

.card-box-shadow{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.input-box-shadow{
    box-shadow: #424242 0px 0px 2px 1px inset;}

.btn-shadow{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
} 
#canvas1{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: white;
            z-index: -1;
        }  