@tailwind base;
@tailwind components;
@tailwind utilities;



.edit-box-shadow{
    box-shadow: #4a4949 0px 0px 2px 1px inset;}

.card-box-shadow{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.finished-card{
    background-color: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(10px);
}

.input-box-shadow{
    box-shadow: #424242 0px 0px 2px 1px inset;}

.btn-shadow{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
} 
#canvas1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: linear-gradient(to right bottom, #1b0227, #250937, #310b48, #3e0d5a, #4c0d6c, #520a6d, #59076d, #5f036e, #5c015e, #570250, #500543, #480837);
}
